body{
    background-image: url("./cr.png");
}
.currency-main{
    width: 420px;
    height: 450px;
    background-color: white;
    margin-top: 50px;
}
.currency-main h1{
    text-align: center;
    padding-top: 30px;
}
.form-group lable{
    margin-top: 40px;
    font-weight: 800;
}
.m-2{
    width: 25%;

}